
/* BODY STYLING */

body { 
    font: 1em avenir, sans-serif;
    background-color: #F7F7F9;
    color: #565364;
    max-width: 375px;
    margin: 0 auto;
            box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
                        0 5px 15px 0 rgba(0,0,0,0.08);   
    border-top: 16px solid #7467CF;
}


/* TEXT STYLING */

h1 {
    font: 1.6em avenir, sans-serif;
    font-weight: 900;
    text-align: center;
}
h2 {
    font: 1.2em avenir, sans-serif;
    font-weight: 600;
    padding-bottom: 16px;
}
h3 {
    font: 1em avenir, sans-serif;
    color: #828282;
    line-height: 80%;
}
p {
    font: 0.9em avenir, sans-serif;
    color: #BDBDBD;
}
li {
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}
.sun, .mon, .tue, .wed, .thu, .fri, .sat {
    font-weight: 400;
    color: #BDBDBD;
}
a {
    text-decoration: none;
}


/* HEADER SETUP */

#date-and-menu {
    display: grid;
    grid-template-columns: 6, 1fr;
    grid-gap: 0px;
    grid-auto-rows: auto;
    padding-top: 40px;
    background-color: #fff;
}
.date {
    grid-column: 3 / 5;
    grid-row: 1;
}
.menu {
    grid-column: 6;
    grid-row: 1;
    text-align: left;
    padding-top: 22px;
}


/* CALENDAR SETUP */

.calendar {
    display: grid;
    grid-template-columns: [sun] 1fr [mon] 1fr [tue] 1fr [wed] 1fr [thu] 1fr [fri] 1fr [sat] 1fr [end-col];
    grid-auto-rows: auto;
    background-color: #fff;
    max-width: 100%;
    padding: 0px 36px 36px 36px;
    margin: 0;
}


/* EVENT WRAPPER */

.eventWrapper {
    margin: 0 auto;
    width: 85%;
}


/* EVENTS SETUP */

.events {
    padding: 20px 0 20px 0px;
    background-color: #F7F7F9;
}
.event-item {
    padding: 10px 0px 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);    
    border-radius: 6px;
    margin-bottom: 24px;
    transition: all .2s;
}
.event-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
    0 2px 4px 0 rgba(0,0,0,0.08);}


/* BUTTON SETUP */

.addEvent {
    background-color: #F7F7F9;
}
.eventButton {
    padding: 18px 0 18px 0;
    color: #fff;
    font: 1.2em avenir, sans-serif;
    background-color: #7467CF;
    width: 100%;
    margin: 36px 0 48px 0;
    border-radius: 6px;
    transition: all .2s;
    cursor: pointer;
}

.eventButton:hover {
    background-color: rgb(136, 122, 230);
}

/* EVENT FORM */

#addEventForm {
    display: block;
}
 .inpt {
     display: block;
     width: 95%;
     padding: 16px 0 16px 16px;
     margin-bottom: 16px;
     font: 1em avenir, sans-serif;
     color: #828282;
  }
 .evnt {
    display: block;
    font: 1.2em avenir, sans-serif;
    text-align: center;
    font-weight: 600;
    padding: 36px 0 24px 0;
    background: #fff;
 }
 ::placeholder {
    color: #BDBDBD;
 }
 .newEventInfo {
     margin-top: 24px;
 }